@model IEnumerable<Rad301ClubsV1.Models.ClubModel.Member>
<table class="table">
    <tr>
        <th>
         @Html.DisplayNameFor(model => model.memberID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentID)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.memberID) 
            </td>
            <td>
              @Html.DisplayFor(m => item.StudentID) 
            </td>
        </tr>
    }
</table>